* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --p0: 5vh;

  --container-1_b: 2px;
  --container-1_p: 0.5vw;

  --special-text-button-1_p: 1vw;

  --border-1: rgba(255, 0, 0, 1);

  --choice-button_h: 10vh;
  --choice-button_p: calc(0.1 * var(--choice-button_h));
  --choice-button_br: 5%;
}

h1 {
  text-align: center;
  padding: var(--p0);
}

.container-1 {
  border: var(--container-1_b) solid var(--border-1);
  padding: var(--container-1_p);
  margin: calc(5 * var(--container-1_p));
  border-radius: 5px;
  width: fit-content;
  float: right;
}

.special-text-button-1 {
  display: inline-block;
  padding: var(--special-text-button-1_p);
  font-weight: 600;
}

.choice-button {
  width: fit-content;
  text-align: center;
  border: 2px solid black;
  border-radius: var(--choice-button_br);
  padding: var(--choice-button_p);
  margin: var(--choice-button_p);
}

.choice-button img {
  height: var(--choice-button_h);
}

/* 
##################
# TOUCH DISPLAYS #
################## 
*/

@media screen and (min-width: 429px) {
  :root {
    --p0: 5vh;
    --container-1_b: 2px;
    --container-1_p: 0.5vw;

    --special-text-button-1_p: 1vw;

    --border-1: rgba(255, 0, 0, 1);
  }
}

/* 
#####################
# COMPUTER DISPLAYS #
##################### */

@media screen and (min-width: 1025px) {
  :root {
    --p0: 5vh;

    --container-1_b: 2px;
    --container-1_p: 0.25vw;

    --special-text-button-1_p: 1vw;

    --border-1: rgba(255, 0, 0, 1);
  }
}
