* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --p0: 5vh;
}

h1 {
  text-align: center;
  padding: var(--p0);
}

/* 
##################
# TOUCH DISPLAYS #
################## 
*/

@media screen and (min-width: 429px) {
  :root {
    --p0: 5vh;
  }
}

/* 
#####################
# COMPUTER DISPLAYS #
##################### */

@media screen and (min-width: 1025px) {
  :root {
    --p0: 5vh;
  }
}
